/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header img {
    height: 2.6em;
}

h1 {
    color: #901C1C;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
}

main article {
    display: flex;
    flex-direction: column;
}

main h2 {
    margin: 0.8em 0 0 0;
    color: #D3573C;
    font-size: 2em;
    font-weight: lighter;
}

main img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
}

main div:nth-child(1),
main div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h3,
p {
    margin: 0.3em 0 0 0;
}

main h3 {
    /*country*/
    font-weight: lighter;
    color: #901C1C;
    font-size: 1em;
}

main div:nth-child(2) p:nth-child(2) {
    /*slogan*/
    color: #000000;
    font-size: 0.8em;
}

main div:nth-child(2) p:nth-child(3) {
    /*prix*/
    color: #757575;
    font-size: 0.8em;
}