* {
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    margin: 0 18em;
}

.logo {
    height: 2.6em;
}

.heart {
    height: 1em;
    margin-left: 0.3em;
}

/************ HEADER ************/
header {
    margin-top: 2em;
}

/************ PHOTOGRAPHER HEADER ************/
.photographer_header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 2em 0;
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-radius: 0.3em;
}

.photographer_infos {
    margin: auto;
}

.photographer_header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
    margin: auto;
}

.photographer_name {
    color: #D3573C;
    font-size: 3em;
    font-weight: lighter;
    margin: 0;
}

.photographer_localisation {
    color: #901C1C;
    font-size: 1.5em;
    margin: 0;
}

.photographer_tagline {
    color: #525252;
}

/************ PHOTOGRAPHER BOTTOM ************/

.photographer_bottom {
    position: fixed;
    bottom: 0;
    right: 3em;
    z-index: 99;
}

.photographer_other {
    display: flex;
    width: 18em;
    justify-content: space-around;
    background-color: #DB8876;
    color: #000000;
    border-radius: 0.5em 0.5em 0 0;
    font-weight: bold;
}

.photographer_total_like {
    display: flex;
    align-items: center;

}

/************ SORT BY ***************/

.sort_by {
    display: flex;
}

.sort_by_title {
    margin-right: 1em;
    font-weight: bold;
}

.sort_by select {
    padding: 0 1.5em;
    background-color: #901C1C;
    color: white;
    border-radius: 0.3em;
}

.sort_by select option {
    border-radius: 0;
}

/*************MEDIAS****************/
.medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3em 0;
    row-gap: 1em;
    column-gap: 8em;
    align-items: center;
}

.media_source {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 0.3em;
    transition: transform 0.3s ease-in-out;
}

.media_section {
    margin-top: 1em;
    overflow: hidden;
    border-radius: 0.3em;
}

.media_section:hover>img,
.media_section:hover>video {
    transform: scale(1.05);
}

.media_infos {
    color: #901C1C;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    margin: 0.5em 0;
    justify-content: space-between;
    align-items: center;
}

.media_title {
    font-weight: lighter;
}

.media_title,
.media_like {
    margin: 0;
}

.media_like {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8em;
    margin: 0;
    font-weight: bold;
}

.media_total_like {
    margin: 0;
}

.heart {
    font-size: 0.8em;
}

/************ ERROR ***************/

.error {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 3em;
}

.error_text {
    font-weight: bold;
    margin: 0;
}

.error_redirect {
    font-weight: bold;
    margin-top: 0;
    color: #ff5757;
}

/************ MODAL ***************/

#contact_modal {
    display: none;
}

.modal_confirm_form,
.contact_button {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.contact_button {
    margin: auto;
}

.modal {
    position: absolute;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px 50px 35px;
    margin: auto;
    top: 5em;
    left: 35em;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 2em 0;
}

.modal header img {
    cursor: pointer;
    align-self: flex-start;
    margin-top: 1.0em;
}

.modal_header_infos {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal header h2,
.modal_header_name {
    font-size: 3.2em;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.modal_header_name {
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 2.5em;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

#yourmessage {
    height: 5em;
}

/************ FILTER ***************/
#select_menu {
    display: flex;
    flex-direction: row;
}

#sort {
    align-self: center;
    margin-right: 1em;
}

.dropdown_section {
    display: flex;
    position: relative;
}

.dropdown_section img {
    position: absolute;
    top: 0.9em;
    left: 8em;
    height: 1.5em;
}

.dropdown_button {
    display: flex;
    width: 10em;
    font-size: 1em;
    border-radius: 0.3em;
    border: none;
    background-color: #901C1C;
    color: white;
    padding: 0.9em;
}

.options_buttons {
    display: none;
}

.options_buttons button {
    display: flex;
    flex-direction: column;
    width: 10em;
    font-size: 1em;
    border: none;
    background-color: #901C1C;
    color: white;
    padding: 0.9em;
}

.options_buttons button:last-child {
    border-radius: 0 0 0.3em 0.3em;
}

.option_button:hover,
.dropdown_button:hover,
.contact_button:hover {
    background-color: #DB8876;
}



#filter_select .options_buttons:hover {
    display: flex;
    z-index: 99;
}

#filter_select:hover .options_buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#filter_select:hover .dropdown_button {
    border-radius: 0.3em 0.3em 0 0;
}

#filter_select:hover .dropdown_section img {
    transform: rotate(180deg);
}

.line_one,
.line_two {
    position: absolute;
    border-bottom: 0.1em solid white;
    margin-top: 5px;
    width: 85%;
    left: 0.7em;
}

.line_one {
    top: -0.3em;
}

.line_two {
    top: 2.7em;
}

/*************LIGHTBOX*************/
.lightbox_close {
    fill: black;
}