*::first-letter {
    text-transform: uppercase;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
    padding: 1px;
}

::-webkit-scrollbar-track {
    background-color: $primary-color;
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 4px;
}

body {
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 1500px){
        margin: 0 3em;
    }

    a {
        text-decoration: none;
        color: $black;
        display: block;
    }

    header {
        margin-top: 2em;

        img {
            height: 2.6em;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
    }
}

// PROFILE PICTURE

.profile_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
}

// BUTTON

.button {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: solid 0.15em transparent;
    background-color: #901C1C;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
}

.button:hover {
    background-color: $secondary-color;
    color: $black;
}

// ERROR

.error_section {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 3em;

    p:nth-child(2) {
        font-weight: bold;
        margin: 0;
        color: #ff5757;
    }
}

.error {
    display: block !important;
    margin: 0 auto;
}

.not_visible {
    display: none !important;
}

.checked {
    color: #DB8876 !important;
    fill: #DB8876 !important;
}