*::first-letter {
    text-transform: uppercase;
}

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0 18em;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: $black;
    }

    header {
        margin-top: 2em;

        img {
            height: 2.6em;
        }
    }
}

.profile_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
}