*::first-letter {
  text-transform: uppercase;
}

* {
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  background-color: #DB8876;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #901C1C;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
}

body {
  margin: 0 18em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #000000;
  display: block;
}

body header {
  margin-top: 2em;
}

body header img {
  height: 2.6em;
}

.profile_picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
}

.button {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: solid 0.15em transparent;
  background-color: #901C1C;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  background-color: #DB8876;
  color: #000000;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

.error_section {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
}

.error_section p:nth-child(2) {
  font-weight: bold;
  margin: 0;
}

.error_section p:nth-child(3) {
  font-weight: bold;
  margin-top: 0;
  color: #ff5757;
}

#header_index_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_index_page a img {
  height: 2.6em;
}

#header_index_page h1 {
  color: #901C1C;
  margin: 0;
}

#main_index_page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 0;
}

#main_index_page article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main_index_page article .photographers_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_index_page article h2 {
  margin: 0.8em 0 0 0;
  color: #D3573C;
  font-size: 2em;
  font-weight: lighter;
}

#main_index_page .photographers_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_index_page .photographers_footer h3 {
  margin: 0.3em 0 0 0;
  font-weight: lighter;
  color: #901C1C;
  font-size: 1em;
}

#main_index_page .photographers_footer_tagline {
  color: #000000;
  font-size: 0.8em;
  margin: 0.3em 0 0 0;
}

#main_index_page .photographers_footer_price {
  color: #525252;
  font-size: 0.8em;
  margin: 0.3em 0 0 0;
}

#header_photographer_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header_photographer_page a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#header_photographer_page #photographer_header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  gap: 70px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3em;
}

#header_photographer_page #photographer_header img {
  margin: auto;
}

#header_photographer_page #photographer_header div {
  margin-left: 4em;
}

#header_photographer_page #photographer_header div h1 {
  color: #D3573C;
  font-size: 3em;
  font-weight: lighter;
  margin: 0;
}

#header_photographer_page #photographer_header div p:nth-child(2) {
  color: #901C1C;
  font-size: 1.5em;
  margin: 0.4em 0 0 0;
}

#header_photographer_page #photographer_header div p:nth-child(3) {
  color: #525252;
  margin: 1em 0 0 0;
}

#header_photographer_page #photographer_header button {
  margin: auto;
  cursor: pointer;
}

.dropdown_svg {
  height: 1em;
}

#main_photographer_page #filter_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main_photographer_page #filter_section label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1em;
}

#main_photographer_page #filter_section #filter_select_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#main_photographer_page #filter_section #filter_select_dropdown button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
  font-size: 1em;
  border-radius: 0.3em;
  border: none;
  background-color: #901C1C;
  color: white;
  padding: 0.9em;
  z-index: 3;
  cursor: pointer;
}

#main_photographer_page #filter_section #filter_select_dropdown svg {
  position: absolute;
  top: 1.15em;
  left: 8em;
  height: 0.8em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: white;
  z-index: 3;
}

#main_photographer_page #filter_section #filter_select button:hover {
  background-color: #DB8876;
}

#main_photographer_page #filter_section #filter_select button:focus {
  background-color: #DB8876;
}

#main_photographer_page #filter_section #filter_select_options {
  display: none;
  z-index: 3;
}

#main_photographer_page #filter_section #filter_select_options .line {
  position: absolute;
  border-bottom: 0.1em solid white;
  margin-top: 5px;
  width: 85%;
  left: 0.7em;
}

#main_photographer_page #filter_section #filter_select_options #line_one {
  top: -0.3em;
}

#main_photographer_page #filter_section #filter_select_options #line_two {
  top: 2.7em;
}

#main_photographer_page #filter_section #filter_select_options button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10em;
  font-size: 1em;
  border: none;
  background-color: #901C1C;
  color: white;
  padding: 0.9em;
  cursor: pointer;
}

#main_photographer_page #filter_section #filter_select_options button:last-child {
  border-radius: 0 0 0.3em 0.3em;
}

#main_photographer_page #filter_section #filter_select_options button:hover {
  background-color: #DB8876;
}

#main_photographer_page #filter_section #filter_select_options button:focus {
  background-color: #DB8876;
}

#main_photographer_page #filter_section #filter_select_options:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
}

#main_photographer_page #filter_section #filter_select:hover #filter_select_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

#main_photographer_page #filter_section #filter_select:hover #filter_select_dropdown button {
  border-radius: 0.3em 0.3em 0 0;
}

#main_photographer_page #filter_section #filter_select:hover #filter_select_dropdown svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#main_photographer_page #medias_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 3em 0;
  row-gap: 1em;
  -webkit-column-gap: 8em;
          column-gap: 8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_photographer_page #medias_section article {
  margin-top: 1em;
  overflow: hidden;
  border-radius: 0.3em;
  position: relative;
  z-index: 2;
}

#main_photographer_page #medias_section article .play_button {
  position: absolute;
  left: 7.8em;
  top: 4.5em;
  fill: #FAFAFA;
  height: 6em;
  padding: 0.2em;
  border: 0.2em solid #DB8876;
  border-radius: 50%;
}

#main_photographer_page #medias_section article .open_lightbox img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3em;
}

#main_photographer_page #medias_section article div {
  color: #901C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.8em;
  margin: 0.5em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_photographer_page #medias_section article div h2 {
  margin: 0;
  font-weight: lighter;
}

#main_photographer_page #medias_section article div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8em;
  margin: 0;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: #901C1C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#main_photographer_page #medias_section article div button svg {
  height: 0.7em;
  margin-left: 0.3em;
  fill: #901C1C;
  -webkit-transition: 1s;
  transition: 1s;
}

#modal_section {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #DB8876;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 35px 50px 35px;
  top: 5em;
  left: 35em;
  z-index: 6;
}

#modal_section #modal_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 0 2em 0;
}

#modal_section #modal_header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#modal_section #modal_header div h2 {
  font-size: 3.2em;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

#modal_section #modal_header div p {
  font-size: 3.2em;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

#modal_section #modal_header button {
  background-color: transparent;
  border: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1.0em;
}

#modal_section #modal_header button svg {
  cursor: pointer;
  height: 3em;
  fill: #FFFFFF;
}

#modal_section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#modal_section form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 2.5em;
}

#modal_section form div input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

#modal_section form div label {
  color: #312E2E;
  font-size: 24px;
}

#modal_section form div #yourmessage {
  height: 5em;
}

#modal_section .button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#modal_section .button:hover {
  border: solid 0.15em #000000;
}

#lightbox_section {
  position: absolute;
  top: 0.5em;
  width: 1253px;
  height: 984px;
  background-color: white;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

#lightbox_section #close_lightbox {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 3em;
  right: 2em;
}

#lightbox_section #close_lightbox svg {
  cursor: pointer;
  height: 2.5em;
  fill: #901C1C;
}

#lightbox_section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lightbox_section div #previous_button {
  height: 2.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#lightbox_section div #previous_button svg {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 2.5em;
  fill: #901C1C;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#lightbox_section div img {
  width: 1050px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

#lightbox_section div video {
  width: 1050px;
  height: 800px;
}

#lightbox_section div #next_button {
  height: 2.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#lightbox_section div #next_button svg {
  cursor: pointer;
  height: 2.5em;
  fill: #901C1C;
}

#lightbox_section p {
  position: relative;
  left: 5em;
  color: #901C1C;
  font-size: 1.2em;
}

#footer_photographer_page {
  position: fixed;
  bottom: 0;
  right: 3em;
  z-index: 4;
}

#footer_photographer_page #other_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #DB8876;
  color: #000000;
  border-radius: 0.5em 0.5em 0 0;
  font-weight: bold;
}

#footer_photographer_page #other_section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer_photographer_page #other_section div svg {
  height: 1em;
  margin-left: 0.4em;
  fill: #000000;
}
/*# sourceMappingURL=main.css.map */