// HEADER

#header_index_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {

        img {
            height: 2.6em;
        }
    }


    h1 {
        color: $primary-color;
        margin: 0;
    }
}

//MAIN

#main_index_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;

    article {
        display: flex;
        flex-direction: column;

        .photographers_header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            margin: 0.8em 0 0 0;
            color: $tertiary-color;
            font-size: 2em;
            font-weight: lighter;
        }
    }

    .photographers_footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin: 0.3em 0 0 0;
            font-weight: lighter;
            color: $primary-color;
            font-size: 1em;
        }

        &_tagline {
            color: $black;
            font-size: 0.8em;
            margin: 0.3em 0 0 0;
        }

        &_price {
            color: $grey;
            font-size: 0.8em;
            margin: 0.3em 0 0 0;
        }
    }
}